.background img
{
    width : 100%;
    height : 400px;
   
}

.logo img
{
    height : 80px;
    width : 100px;
    margin-left : 5%;
}

.logo h1
{
    margin-left : 7%;
    font-size: 20px;
    
}

.mesTaches
{
    margin-top : 30px;
    
    width : 30%;
    height: 50%;
    float : left;

}
.mesTaches a h3{
    color  : black;
}

.Affichage{
    float : left;
    margin-left : 5%;
    
    width : 60%;
    height : 300px;
}