.navbar{
    background-color: black;
    color : white;
    height : 150px;
}

.navbar p
{
    margin-top : 3%;
    margin-right : 85%;
}
.navbar h3{
    margin-top : 1%;
}

.navbar img{
    margin-left : 70%;
    margin-top : -9%;
}

.leBody{
    background-color: #ccc;
    height:100%;
    width: 100%;
}

.leBody .Droite{
    margin-left: 60%;
    margin-top: -20%
}

.wow{
    
}